In [35]:
import pandas as pd

In [11]:
data=pd.read_table("./Data_Extract_From_World_Development_Indicators/f4a7a071-47d1-4172-8678-2c17b4ebfdee_Data.txt")

In [15]:
data

,Time,Time Code,Country Name,Country Code,Adolescents out of school (% of lower secondary school age) [SE.SEC.UNER.LO.ZS],"Secondary education, pupils [SE.SEC.ENRL]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]","Pupil-teacher ratio, secondary [SE.SEC.ENRL.TC.ZS]","Compulsory education, duration (years) [SE.COM.DURS]",GDP per capita (current US$) [NY.GDP.PCAP.CD],Population density (people per sq. km of land area) [EN.POP.DNST],Rural population (% of total population) [SP.RUR.TOTL.ZS],Surface area (sq. km) [AG.SRF.TOTL.K2],Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS],"Unemployment, total (% of total labor force) (national estimate) [SL.UEM.TOTL.NE.ZS]","Life expectancy at birth, total (years) [SP.DYN.LE00.IN]"
0,2015,YR2015,Afghanistan,AFG,NaN,2698816.0,3.25580,37.72088,9.0,578.466353,52.712072,75.197,652860.0,NaN,NaN,63.377
1,2015,YR2015,Albania,ALB,3.05841,315079.0,3.43797,13.50589,9.0,3952.830781,105.135146,42.566,28750.0,NaN,17.0800,78.025
2,2015,YR2015,Algeria,DZA,NaN,NaN,NaN,NaN,10.0,4177.888966,16.680253,29.152,2381740.0,NaN,11.2061,76.090
3,2015,YR2015,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,11843.331183,279.060000,12.762,200.0,NaN,NaN,NaN
4,2015,YR2015,Andorra,AND,NaN,4395.0,3.25368,8.07904,10.0,36039.653496,165.980851,11.655,470.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,Last Updated: 10/28/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data["Adolescents out of school (% of lower secondary school age) [SE.SEC.UNER.LO.ZS]"]

0          NaN
1      3.05841
2          NaN
3          NaN
4          NaN
        ...
264        NaN
265        NaN
266        NaN
267        NaN
268        NaN
Name: Adolescents out of school (% of lower secondary school age) [SE.SEC.UNER.LO.ZS], Length: 269, dtype: float64

In [26]:
data.isna().sum()

Time                                                                                      3
Time Code                                                                                 5
Country Name                                                                              5
Country Code                                                                              5
Adolescents out of school (% of lower secondary school age) [SE.SEC.UNER.LO.ZS]         112
Secondary education, pupils [SE.SEC.ENRL]                                                75
Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]               163
Pupil-teacher ratio, secondary [SE.SEC.ENRL.TC.ZS]                                      109
Compulsory education, duration (years) [SE.COM.DURS]                                     77
GDP per capita (current US$) [NY.GDP.PCAP.CD]                                            19
Population density (people per sq. km of land area) [EN.POP.DNST]                         9
Rural population (% of total population) [SP.RUR.TOTL.ZS]                                 9
Surface area (sq. km) [AG.SRF.TOTL.K2]                                                    8
Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS]                                 181
Unemployment, total (% of total labor force) (national estimate) [SL.UEM.TOTL.NE.ZS]    142
Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                 23
dtype: int64

In [32]:
data=data.drop(columns=["Adolescents out of school (% of lower secondary school age) [SE.SEC.UNER.LO.ZS]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]","Pupil-teacher ratio, secondary [SE.SEC.ENRL.TC.ZS]","Poverty gap at $1.90 a day (2011 PPP) (%) [SI.POV.GAPS]","Unemployment, total (% of total labor force) (national estimate) [SL.UEM.TOTL.NE.ZS]"])

In [33]:
data.dropna(axis='rows')

,Time,Time Code,Country Name,Country Code,"Secondary education, pupils [SE.SEC.ENRL]","Compulsory education, duration (years) [SE.COM.DURS]",GDP per capita (current US$) [NY.GDP.PCAP.CD],Population density (people per sq. km of land area) [EN.POP.DNST],Rural population (% of total population) [SP.RUR.TOTL.ZS],Surface area (sq. km) [AG.SRF.TOTL.K2],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]"
0,2015,YR2015,Afghanistan,AFG,2698816.0,9.0,578.466353,52.712072,75.197,652860.0,63.377000
1,2015,YR2015,Albania,ALB,315079.0,9.0,3952.830781,105.135146,42.566,28750.0,78.025000
6,2015,YR2015,Antigua and Barbuda,ATG,8048.0,11.0,14526.588085,212.650000,75.000,440.0,76.483000
7,2015,YR2015,Argentina,ARG,4501734.0,14.0,13789.060425,15.760633,8.497,2780400.0,76.068000
8,2015,YR2015,Armenia,ARM,240291.0,12.0,3607.296697,102.759150,36.915,29740.0,74.467000
...,...,...,...,...,...,...,...,...,...,...,...
205,2015,YR2015,United Kingdom,GBR,6374675.0,11.0,44472.151701,269.205394,17.374,243610.0,80.956098
206,2015,YR2015,United States,USA,24400000.0,12.0,56803.472433,35.063731,18.329,9831510.0,78.690244
207,2015,YR2015,Uruguay,URY,339740.0,14.0,15613.764273,19.494966,4.955,176220.0,77.369000
208,2015,YR2015,Uzbekistan,UZB,3964383.0,12.0,2615.025134,73.575223,49.250,447400.0,70.928000
213,2015,YR2015,West Bank and Gaza,PSE,721414.0,10.0,2967.851747,709.317608,24.632,6020.0,73.442000